html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Стиль ссылки по умолчанию */
a.nav-link {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid beige;
    border-radius: 20px;
}

/* Стиль ссылки при нажатии */
a.nav-link:active {
    color: white;
    background-color: black;
}

/* Стиль ссылки при фокусе */
a.nav-link:focus {
    color: white;
    border-radius:20px;
    background-color :beige;
    outline: none; /* Убираем стандартный контур */
}
h1 {
    font-size: 1.8em;
}

.demo {
    overflow: auto;
    border: 1px solid silver;
    min-height: 100px;
    border-radius: 10px;
    overflow-y: auto;
}
#kt_docs_jstree_contextual {
    display: inline-block; 
    float: left; 
    max-height: 50vh;
    overflow-y: auto; 
}

#info {
    display: inline-block;
    float: right; 
    margin-right: 300px; 
}

form {
    clear: both; 
}